language: node_js
node_js:
  - '8'
  - '10'

cache:
  npm: true

script:
  - npm install
  - npm install -g codecov
  - npm install -g istanbul
  - yarn build:es5
  - yarn test
  - istanbul cover ./node_modules/jasmine/bin/jasmine.js --reporter lcovonly -- -R spec
  - codecov